doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/jqmobile-1.2.0.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.0.3.js')
    script(src='/javascripts/jqmobile-1.2.0.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/app.js')
  body
    block content